body {
  background-color: #f1f1f1;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0 0 16px;
}

.brand-selector {
  background-color: #ddd;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  opacity: 0.3;
  transform: scale(0.75);
  cursor: pointer;
  transition: all 150ms ease;
}

.brand-selector:hover {
  opacity: 0.62;
  transform: scale(0.88);
}

.brand-selector.active {
  opacity: 1;
  transform: scale(1);
}

.brand-selector.nb {
  background-color: #006EB4;
}
.brand-selector.be {
  background-color: #f60;
}

.brand-selector.bs {
  background-color: #0f0f0f;
}
