body {
  background-color: #f1f1f1;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0 0 16px;
}

.brand-selector {
  background-color: #ddd;
  color: #fff;
  font-size: 12px;
  padding: 12px 20px;
  border-radius: 4px;
  transform: scale(0.7);
  cursor: pointer;
  transition: all 150ms ease-out;
}

.brand-selector:hover {
  opacity: 0.9;
  transform: scale(0.925);
}

.brand-selector.active {
  transform: scale(1.1);
}

.brand-selector.nb {
  background-color: #006EB4;
}
.brand-selector.be {
  background-color: #f60;
}

.brand-selector.bs {
  background-color: #0f0f0f;
}

pre.nlc {
  background: #f2f2fa;
  overflow: auto;
  max-height: 18rem;
  padding: 8px 16px;
  margin: 0;
}
